/*Document*/

body {
    background-color:#CFD9FE;
    color: white;
    font: 17pt Arial;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}
.box {
    width: 80%;
    height: 80%;
    margin: 8% auto;
    border: 2px black solid;
    background-color:#414B92;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #141414;
    text-align: center;
}
.header{
    width: 70%;
    margin: 1em auto;
    display: flex;
    justify-content: space-around;
}
.header img{
    width: 20%;
    height: auto;
}
.main{
    display: flex;
    width: 95%;
}
.form{
    width: 60%;
    padding-top: 2%;
}

.resultado{
    width:40%;
    margin: 1em auto;
    padding: 1%;
    color:#5D69B4;
    border: 2px black solid;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
}

input {
    height: 30px;
    width: 50%;
    margin-bottom: 20px;
    border-radius: 5px;
}

#res {
    font-size: normal;
    text-align: justify;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin: 10px 4px;
    background-color:#5D69B4;
    color: white;
}

